@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0
}
body{
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar{
	display: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset, img {
	border:0
}
address, caption, cite, dfn, th, var {
	font-style:normal;
	font-weight:normal
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal
}
q:before, q:after {
	content:""
}
abbr, acronym {
	border:0
}
::selection {
	color:#e00966;
}
::-moz-selection {
color:#e00966;
}
body {
	font-family:"Open Sans", sans-serif;
	font-size:13px;
	line-height:22px;
	color:#444444;
	padding:0;
}
a, a:link {
	color:#e00966;
	text-decoration:none;
}
a:hover {
	color:#000;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom:10px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}
h1 {
	font-size:30px;
	line-height:1.7em;
}
h2 {
	line-height:1.3em;
}
h3 {
	font-size:22px;
	line-height:1.3em;
}
img {
	max-width:100%;
}
.more {
	background:url("../images/arrow.gif") no-repeat right 50%;
	padding-right:20px;
}
#main-content, footer {
	margin:0 auto;
	max-width:950px;
}
header {
	margin-top:0;
	width:100%;
	height:45px;
	margin-bottom:40px;
	background:#1D1D1D;
	position:fixed;
	z-index:999;
}
header .main-nav {
	margin-top:10px;
	float:right;
}
header .main-nav li {
	display:inline-block;
	margin-right:40px;
	list-style:none;
}
header .main-nav li a {
	color:#FFF;
	font-size:10px;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:2px;
}

header .main-nav li div {
	color:#FFF;
	font-size:10px;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:2px;
}

header .main-nav li a:hover, header .main-nav li a.active {
	color:#666;
}
#main-content .text-intro {
	border-bottom:1px solid #e5e4e4;
	float:left;
	width:100%;
	padding:25px 0;
	margin-bottom:40px;
}
#main-content .text-intro h2 {
	font-size:40px;
	color:#606060;
	text-align:center;
}
.columns.features {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
}

.columns.features p{
    text-align: justify;
}

div.columns {
	height:1%;
}
div.one-half {
	width:48.5%;
}
div.one-third {
	width:31.3%;
}
div.two-third {
	width:65.64%;
}
div.one-fourth {
	width:22.7%;
}
div.three-fourth {
	width:74.23%;
}
div.one-half, div.one-third, div.two-third, div.three-fourth, div.one-fourth {
	position:relative;
	margin-left:3%;
	float:left;
	margin-bottom:1.55em;
}
div.one-half:first-child, div.one-third:first-child, div.two-third:first-child, div.three-fourth:first-child, div.one-fourth:first-child, .first {
	margin-left:0 !important;
	clear:left;
}
div.img-first {
	float:left;
	opacity:0.7;
}
div.img-second {
	float:right;
	opacity:0.7;
}
div.img-first, div.img-second {
	transition:all 1s ease-in-out;
	padding-bottom:30px;
}
div.img-first:hover, div.img-second:hover {
	opacity:1;
}
#main-content .features, #main-content .portfolio {
	clear:both;
	float:left;
	margin-bottom:50px;
}
footer {
	clear:both;
	border-top:1px solid #e5e4e4;
	padding:20px 0;
}
footer .copyright {
	float:left;
	margin-bottom:30px;
}
footer .copyright a {
	color:#444444;
	font-weight:bold;
}
footer .copyright a:hover {
	color:#e00966;
}
#home-head {
	content:"";
	display:block;
	min-height:200px;
	width:100%;
	text-align:center;
	box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}
#home-head h1 {
	font-size:34px;
	color:#fff;
	line-height:0.879em;
	text-shadow:0 1px 2px rgba(0,0,0,0.4);
	text-transform:uppercase;
	padding-top:100px;
}
#home-head h1 span {
	color:#fff;
	display:block;
}
#video {
	content:"";
	display:block;
	min-height:300px;
	width:100%;
	text-align:center;
	box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}
#video h1 {
	font-size:64px;
	color:#fff;
	line-height:0.879em;
	text-shadow:0 1px 2px rgba(0,0,0,0.4);
	text-transform:uppercase;
	padding-bottom:20px;
	padding-top:120px;
}
#video h2 {
	font-size:13px;
	color:#FFF;
	line-height:1em;
	letter-spacing:2px;
	text-transform:uppercase;
}
#contact-form {
	padding:0;
	overflow:hidden;
	width:95%;
	margin:0 auto;
	position:relative;
}
#contact-form textarea {
	font-weight:400;
	font-size:14px;
	resize:none;
	color:#4f4f4f;
	float:left;
	margin-top:0;
	width:400px;
	height:115px;
	margin-bottom:10px;
	padding:19px 13px 14px 50px;
	border:1px solid #f1f1f1;
	font-family:"Open Sans", sans-serif;
}
#contact-form #message {
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
}
#contact-form .text-input {
	font-weight:400;
	font-size:14px;
	float:right;
	display:block;
	width:355px;
	height:19px;
	color:#4f4f4f;
	padding:13px 13px 13px 51px;
	margin-bottom:20px;
	border:1px solid #f1f1f1;
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	font-family:"Open Sans", sans-serif;
}
#contact-form .btn-input {
	float:right;
	display:block;
	width:420px;
	height:82px;
	border:none;
	padding:0;
	margin:0;
	cursor:hand;
	font-size:20px;
	color:#FFF;
	background-color:#e00966;
	font-family:"Open Sans", sans-serif;
	transition:all 0.5s ease-in-out;
}
#contact-form .btn-input:hover {
	background-color:#e187ae;
	color:#FFF;
}
#contact-form .crayonico {
	position:absolute;
	left:15px;
	top:15px;
	background-image:url("../images/crayon.png");
	background-repeat:no-repeat;
	width:23px;
	height:23px;
}
#contact-form .emailico {
	position:absolute;
	left:495px;
	top:15px;
	background-image:url("../images/email.png");
	background-repeat:no-repeat;
	width:22px;
	height:16px;
}


.card-hidden {
	display: flex;
	flex-direction: column;
  }

  .card-hidden p{
	text-align: justify;
  }

.pfpclass {
	display: flex;
    align-items: left;
	flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    clear: both;
    margin-bottom: 50px;
	grid-gap: 10px;
}

.cardinside {
	position: relative;
	width: 250px;
	height: 250px;
	color: #2e2d31;
	overflow: hidden;
	border-radius: 20px;
  }
  #card1 {
	background:url("../images/myart.jpg");
	background-size:cover;
  }

  #card2 {
	background:url("../images/anime.jpg");
	background-size:cover;
  }
  
  #card3 {
	background:url("../images/manga.png");
	background-size:cover;
  }

  .temporary_text {
	font-weight: bold;
	font-size: 24px;
	padding: 6px 12px;
	color: #f8f8f8;
  }
  
  .card_title {
	font-weight: bold;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 85%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    transform: translateY(150px);
    transition: transform .25s;
}
  
  .card_content::before {
	content: '';
	position: absolute;
	top: -47px;
	right: -45px;
	width: 100px;
	height: 100px;
	transform: rotate(-175deg);
	border-radius: 50%;
	box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
	color: #131313;
	line-height: 15px;
  }
  
  .card_subtitle {
	display: block;
	font-size: 12px;
	margin-bottom: 10px;
  }
  
  .card_description {
	font-size: 14px;
	opacity: 0;
	transition: opacity .5s;
  }
  
  .cardinside:hover .card_content {
	transform: translateY(0);
  }
  
  .cardinside:hover .card_description {
	opacity: 1;
	transition-delay: .25s;
  }
  
  .cardperson {
	margin-bottom: 20px;
    width: 230px;
    height: 280px;
    border-radius: 2em;
    padding: 10px;
    background-color: #191919;
    box-shadow: 2px 2px 40px rgba(4, 4, 4, 0.3), -2px -2px 40px rgba(57, 57, 58, 0.3);
}
  
  .profileimage {
	background-color: transparent;
	border: none;
	margin-top: 20px;
	border-radius: 5em;
	width: 100px;
	height: 100px;
  }
  
  .pfp {
	border-radius: 35em;
	fill: white;
  }
  
  .Name {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 15px;
	font-size: 20px;
	margin-top: 10px;
  }
  
  .socialbar {
	background-color: #191919;
	border-radius: 3em;
	width: 90%;
	padding: 14px;
	margin-top: 15px;
	color: white;
	box-shadow: 3px 3px 15px rgb(0, 0, 0),
					 -3px -3px 15px rgb(58, 58, 58);
  }
  
  .cardperson a {
	transition: 0.4s;
	color: white
  }
  
  #github:hover {
	color: #c9510c;
  }
  
  #instagram:hover {
	color: #d62976;
  }
  
  #facebook:hover {
	color: #3b5998;
  }
  
  #twitter:hover {
	color: #00acee;
  }


.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
	clear: both;
    margin-bottom: 50px;
  }
  
  .card {
	margin: 2%;
	background: transparent;
	width: 250px;
	height: 250px;
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	transition: .2s all;
	cursor: pointer;
	align-items: center;
	border-radius: 20px;
	/*
	text-align: center;
	font-size: 13px;
	padding-top: 30px;
	*/
  }
  
  .card > span {
	display: block;
	margin: auto;
	max-width: 40px;
  }
  
  .container:hover .card {
	filter: blur(3px);
	opacity: .5;
	transform: scale(.98);
	box-shadow: none;
  }
  
  .container:hover .card:hover {
	transform: scale(1);
	filter: blur(0px);
	opacity: 1;
	box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
	background: transparent;
	color: white;
  }
.work, .home, .contact {
	background:url("../images/bgimg.png");
	background-size:cover;
}

.ytshow{
	display: flex;
	justify-content: center;
    margin: 30px;
    clear: both;
    margin-bottom: 50px;
}

.nav ul {
    background-color: #fff; 
    background: rgba(255,255,255,0); 
    list-style: circle;
    position: absolute;
    display: none;
}
.nav ul li {
    padding-top: 1px; 
    float: none;
}
.nav ul a {
    white-space: nowrap; 
}
.nav:hover ul {
    display:block; 
	
}
.nav a:hover ul {
    display:block; 
	
}
.nav:hover a { 
    background-color: #5f2a07;
    text-decoration: underline;
}
.nav:hover ul a {
    text-decoration: none;
}
.nav:hover ul li a:hover { 
    background-color: #333;
}

.framenav{
	position: fixed;
}

.framemain {
	display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 90vh;        /* Viewport-relative units */
    width: 100vw;
}

@media handheld and (max-width:480px), screen and (max-device-width:480px), screen and (max-width:767px) {
body {
	padding:0;
}
.container{
	display: flex;
	flex-wrap: wrap;
}
.copyright {
	text-align:center;
}

}
@media handheld and (max-width:479px), screen and (max-device-width:479px), screen and (max-width:479px) {
#contact-form .text-input {
	float:left;
}

header {
	border-bottom:none;
	position:relative;
}
#home-head {
	min-height:250px;
}
/*style ke 2 untuk header nav bar*/
/*
header .main-nav {
	width:100%;
	margin-left:0;
	background-color: rgba(0, 0, 0, 1);
}
header .main-nav ul {
	width:100%;
}
header .main-nav ul li, header .main-nav ul>li.last {
	display:block;
	float:none;
	text-align:center;
	width:100%;
}
header .main-nav ul li a {
	padding:4px 0;
	background:#633333;
	display:block;
	margin-bottom:4px;
}
*/
div.columns {
	width:100%;
}
div.one-half, div.one-third, div.two-third, div.three-fourth, div.one-fourth {
	margin-left:0;
	width:100%;
}
div.one-third, div.one-fourth, .copyright {
	width:95%;
	float:none;
	padding:0 0 0 10px;
}

.container{
	display: flex;
	flex-wrap: wrap;
}

.copyright {
	text-align:center;
}
#main-content .text-intro h2 {
	font-size:30px;
}
}